.content-wrapper{
  float:left;
  height: 200px;
  width: 320px;
  margin: 2px;
  display:block;
}

img:hover{
  opacity:.3;
}

.content-wrapper:hover{
  float:left;
  height: 200px;
  width: 320px;
  margin: 2px;
  display:block;
  opacity:10;
}

.toptext-wrapper{
  position: relative;
  width: 300px;
  bottom:200px;
  text-align:center;
  color: white;
}

.btmtext-wrapper{
  position: relative;
  width: 300px;
  bottom:50px;
  text-align:center;
  color: white;
}

ul {
  list-style: none;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
